$color-text: #00465b;
@font-face {
  font-family: "Bernina";
  src: url("../fonts/BerninaSans-Web-CondensedBold.woff2") format("woff2");
}

.inner {
  width: 100%;
}

body {
  font-family: Bernina;
  background: #f7ffff;
}

header {

  .background {
    width: 100%;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-size: cover;
    height: auto;
    min-height: 1000px;
    background-position: top;


    .promo {
      position: absolute;
      background: #810426;
      color: white;
      border-radius: 7px;
      text-align: center;
      width: 70%;
      transform: rotate(23deg);
      margin-left: 24%;
      top: 5%;
      width: 11em;
      right: 5%;
      font-size: 2em;
      margin-top: 1em;

      #text_promo_white_big {
        font-weight: bold;
        font-size: larger;
      }
      #text_promo_white_small{
        font-size: small;
      }

    }

    .bandeau {
      background-color: rgba(255, 255, 255, 0.25);
      color: #f7ffff;
      width: 100%;
      position: absolute;
      margin-top: 880px;
      font-size: 2em;

      #text_white_big, #text_white_small {
        margin-left: 3%;
        font-size: 50%;
      }
      #text_white_big {
        font-weight: bold;
      }
    }
  }
}

#titre {
  font-size: 2em;
  margin: 20px;
  color:$color-text;
}
.text {
  font-weight: bold;
  text-align: center;
  color:$color-text;

  #paragraphe{
    margin-left: 12px;
    margin-right: 12px;
  }
}

.head{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1em;

  #rdv{
    border: 1px $color-text solid;
    background-color: #f7ffff;
    border-radius: 10px;
    color:$color-text;
    height: fit-content;
    font-size: 35px;
  }
}

#marque{
  text-align: unset;
  font-size: 76%;
  margin-left: 1%;
}

.menu{
  display: flex;
  justify-content: center;
  ul{list-style-type:none;}
  p{
    display: flex;
    justify-content: center;
    color:$color-text;
  }
  img{
    border-radius: 50%;
  }
}



@media screen and (min-width: 466px) {

.inner{
  max-width: 800px;
  margin: auto;
}

  ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    &>li{
      width: 50%;
      padding: 3%;
      img{
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 668px) {

  .inner{
    max-width: 800px;
    margin: auto;
  }

  ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    &>li{
      width: 30%;
      padding: 3%;
      img{
        width: 100%;
      }
    }
  }
}
